@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    max-height: 4000px;
    background-color: rgba(148, 223, 176, 0.747);
    
    overflow-x: hidden;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.9s;
    z-index: 1;
}

header.sticky {
    height: 80px;
}

header .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}
header.sticky .banner {
    opacity: 0.5;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 13vw;
    color: rgba(79, 151, 192, 0.877);
    color: #349bdffa;
    font-weight: 700;
    transition: 1.1s;
    text-decoration: none;
    z-index: 9;
}

header p {
    transform: translate(-42%,-18%);
    font-size:25vw;
    transition: 0.3s ease;
    
}

header.sticky .logo {
    position: absolute;
    color: #fff;
    font-size: 2em;
    left: 100px;
    transform: translate(0,-50%);
}

header.sticky p {
    opacity: 0;
}

nav {
    position: relative;
    display: flex;
    z-index: 10;
    position: sticky;
}

nav ul {
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
}
header.sticky nav ul {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.2s ease;
    font-weight: 600;
}

nav ul li a:hover {
    padding-bottom: 4px;
    box-sizing: border-box;
    /* border-bottom: 6px solid rgba(112, 235, 229, 0.966); */
    border-bottom: 6px solid rgba(255, 255, 255,0.6);
}

.intro {
    margin-top: 45vh;
    padding: 0px 100px;
    padding-top: 100px;
    
}

h2 {
    font-size: 2.5em;
}
.intro h3 {
    font-size: 2em;
}


.logout-btn {
    text-decoration: none;
    color: #fff;
    position: relative;
    right: -35px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: 600;
}
.logout-btn:hover {
    cursor: pointer;
    color: #fff;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    padding: 7px 17px;
    border: 3px solid rgba(255, 255, 255,0.5);
}
.logout-btn-wrap {
    opacity: 0;
    transition: 0.25s;
    transform: translateX(100px);
}

header.sticky .logout-btn-wrap {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
}

#about {
    padding: 0px 100px;
}

#about h2 {
    margin-bottom: 20px;
}



#how-it-work {
    padding: 0px 100px;
    /* background: #94dfb0; */
    /* background: linear-gradient(145deg, #9eefbc, #85c99e); */
}
#how-it-work h2 {
    margin-bottom: 20px;
}















#contact {
    padding: 0px 100px;
}

#contact h2 {
    padding-bottom: 20px;
}

#about-area {
    width: 100%;
    height: 85px;
}

#how-it-work-area {
    width: 100%;
    height: 85px;
    
}


#contact-area {
    width: 100%;
    height: 85px;
}

#testi-area {
    width: 100%;
    height: 85px;
}

#foot-area {
    width: 100%;
    height: 85px;
}









/*  how it works crop_pics styles start  */

.crop-pics {
    width: 140px;
    height: 70px;
    border: 3.5px solid #fff;
}

.steps p {
    font-size: 20px;
    font-family: sans-serif;
}
.steps {
    font-size: 22px;
    font-family: sans-serif;
    
    padding: 15px 20px;
}


/*  how it works crop_pics styles end */















/*  testi-section styles start */


#testi-section {
	width: 100%;
	position: relative;
	padding: 0px 100px;
	z-index: 0;
	width: 100%;
}

#testi-section h2 {
    margin-bottom: 25px;
}

.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
}

.section-title h2 {
	font-size: 2.5em;
}

.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	z-index: 0.9;
	cursor: pointer;
	background: #70b88a;
	box-shadow: 0 9px 26px rgba(63, 153, 83, 0.473);
	transition: all 200ms linear;
	outline: none;
    align-items: center;
}
.listing-carousel-button.listing-carousel-button-next{
	right: -30px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
    
}
.listing-carousel-button.listing-carousel-button-prev{
	left: -30px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
    
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background: rgba(4, 29, 14, 0.445);
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
	background: rgba(4, 29, 14, 0.445);
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.8;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #94dfb0;
	border:1ps solid #f1f1f1;
	border-radius: 10px;
    
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #94dfb0;
	opacity: 1;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #94dfb0;
	opacity: 1;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}

.testimonials-avatar h3{
	font-weight: 600;
	color: #111;
	font-size: 18px;
}

.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 0.9;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
}

.swiper-slide-active .testi-avatar img {
	border:6px solid #3ebd6d;
	
}

.swiper-slide-active .testimonials-text {
    transition: .6s ease;
	background: #fff;
	border-radius: 25px;
    background: linear-gradient(145deg, #ddeee5, #f8fffb);
    box-shadow:  13px 13px 0px #3b5946,
             -13px -13px 0px #edffff;
    
			 
}
.testimonials-text p{
	color: #494b52;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
	padding-top: 14px;
}
.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #94dfb0;
	
	box-shadow: 0 10px 15px rgba(0,0,0,0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}


/*  testi-section styles end */










/*  cont-section styles start */


.input-box {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#cont-btn-submit {
    font-size: 16px;
}

.cont-primary-button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    padding: 12px 22px;
    box-sizing: border-box;
    font-size: 1.5em;
    font-weight: 600;
    
    background: linear-gradient(145deg, #53946b, #79e09f);
    opacity: 1;
    transition: .3s;
}

.cont-primary-button:hover {
    opacity: 11;
    cursor: pointer;
    background: linear-gradient(145deg, #53946b, #79e09f);
    box-shadow:  7px 7px 0px #4a7058,
                -7px -7px 0px #deffff;
}


/*  cont-section styles end */














/* FOOTER SECTION STYLES START */
footer {
    background-color: #232323;
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 25px;
}

#social-icons-wrapper {
    padding-bottom: 20px;
}

.soc-icons {
    padding: 0px 18px;
    font-size: 26px;
    transition: all 0.3s;
}

.soc-icons:hover {
    cursor: pointer;
    color: rgba(148, 223, 176, 0.822);
}
/* FOOTER SECTION STYLES END */

































/* To do list styles */


#todo-box {
    width: 100%;
    padding-left: 15%;
    padding-right: 20%;
    padding-top: 50px;
}





.wrapper {
    padding: 25px 30px;
    width: 100%;
    border-radius: 3px;
    margin: 20px;


    border-radius: 25px;
    background: linear-gradient(145deg, #85c99e, #9eefbc);
    box-shadow:  13px 13px 0px #3b5946,
             -13px -13px 0px #edffff;




}

.wrapper .title {
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
    color: #111;
}

.wrapper .inputFields {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.wrapper .inputFields input[type="text"] {
    border: 1px solid rgba(0,0,0,.3);
    outline: none;
    width: calc(100% - 60px);
    height: 100%;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 1rem;
    transition: .3s;
}

.wrapper .inputFields input[type="text"]:focus {
    border-color: #94dfb0;
}


.wrapper .inputFields button.btn {
    width: 50px;
    height: 100%;
    background: #28b35b;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    opacity: 1;
    transition: .3s;
    margin-left: 20px;

  
    border-radius: 19px;
    background: linear-gradient(145deg, #53946b, #79e09f);
    


}

.wrapper .inputFields button.btn:hover {
    opacity: 11;

    

    border-radius: 19px;
    background: linear-gradient(145deg, #53946b, #79e09f);
    box-shadow:  7px 7px 0px #4a7058,
                -7px -7px 0px #deffff;
    
}

.wrapper .content ul li {
    background: #d1f1dd;
    border-radius: 3px;
    margin: 8px 0;
    border: 1px solid rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
}

.wrapper .content ul li .text {
    color: #111;
    padding-left: 10px;
}

.wrapper .content ul li .icon {
    width: 50px;
    height: 100%;
    background: #e74c3c;
    position: absolute;
    top: 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s linear;
}


.wrapper .content .pending-text {
    color: #111;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 20px;
    text-transform: capitalize;
}

  /* To do styles END */














































@media (max-width: 991px) {
    
    .intro {
        padding: 0px 40px;
    }
    header {
        padding: 40px;
    }
    #about {
        padding: 0px 40px;
    }
    #how-it-work {
        padding: 0px 40px;
    }
    #contact {
        padding: 0px 40px;
    }
    
    #about-area {
        width: 100%;
        height: 85px;
    }
    
    #how-it-work-area {
        width: 100%;
        height: 85px;
    }
     
    #contact-area {
        width: 100%;
        height: 85px;
    }

    h2 {
        font-size: 2em;
    }
    .intro h3 {
        font-size: 1.5em;
    }
    header.sticky .logo {
        left: 40px;
    }
    header.sticky .banner {
        opacity: 0.2;
    } 

    nav {
        position: sticky;
    }

    nav ul {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav.active ul {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header.sticky nav ul {
        opacity: 1;
        visibility: visible;
    }
    nav ul li a {
        font-size: 1.5em;
        padding: 10px 40px;
        color: #000;
        margin-top: 2px;
    }
    nav ul li a:hover {
        border: none;
        background-color: rgb(60, 201, 159);
        color: #fff
    }

    header.sticky .toggle {
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #fff
        url(https://icons-for-free.com/iconfiles/png/512/svg+general+ham+list+menu+menu+icon+office+icon-1320185157378483623.png);
        background-size: 68px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    header.sticky .toggle.active {
        background: #fff
        url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnsesYrnrfMI06UfEUwbgneXD67m1oLZWCbtYf2DxIFRgLS0mbtAXxMy2yH8UyvUzTlUs&usqp=CAU);
        background-size: 45px;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .logout-btn {
        text-decoration: none;
        color: #fff;
        position: relative;
        right: 0px;
    }
    header .logout-btn-wrap {
        position: relative;
        right: 80px;
    }
    

}